{% extends 'layout.html' %}
{% block content %}
<form action="/save_group" method="post">
    <fieldset>
        {{message}}
        <legend>Vytvořit skupinu:</legend>
        <label for="name">Název:</label>
        <input type="text" name="group_name" id="name">


        <fieldset>
            <legend>Přidat hráče</legend>
            {% for user in users %}
            <input type="checkbox"  name = "user" value="{{user.id}}"> {{user.nick_name}} |
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vytvořit">
    </fieldset>
</form>
{% endblock %}