{% extends 'layout.html' %}
{% block content %}

<table>
<tr> <th>Název skupiny</th> <th>Vlastník</th> <th>Členové</th></tr>
    {% for group in groups %}

    <tr>
        <th> <a href="/group_info/{{group.id}}">{{group.name}}</a>  </th>
        <td> <a href="/user_profile/{{group.owner.id}}">{{group.owner.nick_name}}</a></td>
        <td>
            {% for member in group.group_members %}
            <a href="/user_profile/{{member.user.id}}">{{member.user.nick_name}}</a>,
             {%endfor%}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}