<!-- přihlášení nebo výpis přihlášeného uživatele -->
<!--  -->
{% if current_user.is_authenticated %}
{% include 'parts/success_login.html' %}
{% else %}
{% include 'parts/login.html' %}
{% endif %}

{% include 'parts/menu_personal.html' %}

{% include 'parts/menu_tournaments.html' %}

{% include 'parts/menu_mtg.html' %}

{% include 'parts/menu_information.html' %}


{% for item in current_user.list_of_privileges %}
{% if item.type_of_privilege.name == "super_admin" %}
{% include 'parts/menu_admin.html' %}
{% endif %}
{% endfor %}
