{% extends 'layout.html' %}
{% block content %}

        <fieldset id="create_tournament">
           <legend>Výběr typu turnaje </legend>
            <form action = "/create_tournament" method = "post">
                <fieldset>
                    <legend>Typ turnaje:</legend>
                    <input type="radio" name="type" value="booster_draft" checked> Booster draft |
                       Počet boosterů <input type="number" name="count_of_boosters" value="3"> <br>

                </fieldset>
                <fieldset>
                    <legend>Pro skupiny:</legend>

                </fieldset>



                <input type="submit" value="Pokračovat">
            </form>
        </fieldset>



{% endblock %}