{% extends 'layout.html' %}
{% block content %}

        <fieldset id="create_tournament">
           <legend>Vytvořit turnaj</legend>
            <form action = "/save_tournament" method = "post">
                <input type="hidden" name="type" value="{{type}}">
                {% for id in group_ids %}
                    <input type="hidden" name="group_id" value="{{id}}">
                {% endfor%}
                <fieldset>
                    <legend>Základní nastavení</legend>
                     <div class="comment"> Typ turnaje:  </div><br>
                    <label for="tournament_name">(*) Jméno turnaje:</label>
                    <input type = "text" name = "name"  id="tournament_name" required /> <br/>
                    <label for="tournament_name">Start turnaje:</label>
                    <input type = "date" name = "date"   id="start_date" required />
                    <input type = "time" name = "time"   id="start_time" required /> <br/>
                </fieldset>
                <fieldset>
                <legend>Nastavení boosterů</legend>
                    <table><tr><td></td> <td> <div class="comment">(jméno setu | blok | typ)</div> </td></tr>
                        {% for number in range(count_of_boosters) %}
                        <tr>
                        <td>{{number + 1}}. booster</td>
                        <td>
                        <select name="booster">
                            {% for set in sets_list %}
                            <option value="{{ set.id }}">{{ set.name }} | {{ set.block }} | {{ set.type }}</option>
                            {% endfor %}
                        </select><br>
                        </td>
                        </tr>
                        {% endfor %}
                    </table>
                </fieldset>
                <fieldset>
                 <legend>Přidání hráčů:</legend>
                {% for user in users %}
                    <input type="checkbox"  name = "user" value="{{user.id}}"> {{user.nick_name}} |
                {% endfor %}

                </fieldset>

                <input type = "submit" value = "Vytvořit" id="create_tournament_button" /> <br />
                <div class="comment"> (položky označené  "*" jsou povinné) </div>
            </form>
        </fieldset>



{% endblock %}