{% extends 'layout.html' %}
{% block content %}

<form action="/save_schedule_tournament" method="post">
    Rozpis pro turnaj: <b>{{tournament.name}} </b>
    <input type="hidden"  name="tournament_id" value="{{tournament.id}}">
    <table class="schedule_tournament">

        {% for round in tournament.schedules[0].rounds %}
        <tr><th>{{round.order}}. kolo</th>
         {% for match1vs1 in  round.matches1vs1 %}

            {% if tournament.schedules[0].state_by_name != "lock_players" %}
            <td>

                <select name="player {{match1vs1.result1_id}}"> {%for player in tournament.players%}<option value="{{player.user.id}}">{{player.user.nick_name}}</option> {%endfor%}  </select>
                <input  name="wins {{match1vs1.result1_id}} "  type="number" value="0"> <b>:</b>
                <input  name="wins {{match1vs1.result2_id}} "  type="number" value="0">
                <select name="player {{match1vs1.result2_id}}"> {%for player in tournament.players%}<option value="{{player.user.id}}">{{player.user.nick_name}}</option> {%endfor%}  </select>

            </td>
            {% else %}
             <td>
                <input type="hidden" name="player {{match1vs1.result1_id}}" value="{{match1vs1.result1.user.id}}">
                {{match1vs1.result1.user.nick_name}}
                <input  name="wins {{match1vs1.result1_id}} "  type="number" value="0"> <b>:</b>
                <input  name="wins {{match1vs1.result2_id}} "  type="number" value="0">
                {{match1vs1.result2.user.nick_name}}
                <input type="hidden" name="player {{match1vs1.result2_id}}" value="{{match1vs1.result2.user.id}}">
            </td>
            {% endif %}

        {%endfor%}
        </tr>


    {%endfor%}
    </table>
    <input type="submit" value="Uložit a přepsat">
</form>


{% endblock %}