{% extends 'layout.html' %}
{% block content %}
Název turnaje: <b>{{tournament.name}}</b><br>
Vlastník: <a href="/user_profile/{{tournament.owner.id}}"> {{ tournament.owner.nick_name }} </a> <br>
Hráči:
{% for player in tournament.players %}
<a href="/user_profile/{{player.user.id}}">{{player.user.nick_name}} </a>,
{% endfor %} <br>


{% if tournament.state_by_name == "with_schedule" %}
    <br>



<fieldset>
    <legend>Bodování:</legend>
        Čistá výhra = {{tournament.schedules[0].point_system.pure_win }},
        Výhra = {{tournament.schedules[0].point_system.win }},
        Remíza = {{tournament.schedules[0].point_system.draw }},
        Prohra = {{tournament.schedules[0].point_system.lose }},
        Čistá prohra = {{tournament.schedules[0].point_system.pure_lose }}
</fieldset>

<br>

<fieldset>
    <legend> Pořadová čísla:</legend>
    <table>
        <tr>
            {% for player_order in tournament.schedules[0].players_order %}
            <td> {{player_order.order}}. {{ player_order.player.user.nick_name }}</td>
            {%endfor %}
        </tr>
    </table>
</fieldset>

<br>

<fieldset>
    <legend>Zápasy:</legend>
    <table>
        {% for round in tournament.schedules[0].rounds %}
        <tr><th>{{round.order}}. kolo</th>
            {% for match1vs1 in  round.matches1vs1 %}
            <td>
                <a href="/user_profile/{{match1vs1.result1.user.id}}">{{match1vs1.result1.user.nick_name}}</a>
                {{match1vs1.result1.wins}} :
                {{match1vs1.result2.wins}}
                <a href="/user_profile/{{match1vs1.result2.user.id}}">{{match1vs1.result2.user.nick_name}}</a>
            </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</fieldset>

<br>

<fieldset>
    <legend>Pořadí:</legend>
    <table>
        <tr> <th>#</th><th>Přezdívka</th><th>Skóre [b]</th> <th>Výhry</th>   <tr>
        {% for schedule_player in tournament.schedules[0].sum_points %}
        <tr> <td>{{loop.index}}.</td> <td>{{schedule_player.player.user.nick_name}}</td>
        <td>{{schedule_player.score}}</td> <td>{{schedule_player.pure_wins}} + {{schedule_player.wins}}</td>
        </tr>
        {% endfor %}
    </table>
</fieldset>

<br>

{% if current_user.id == tournament.owner.id %}
{%if tournament.schedules[0].type_by_name == "by_round"%}
<form action="/edit_by_round/{{tournament.schedules[0].id}}" method="post">
    <input type="submit" value="Editovat (Generovat)">
    <input type="hidden"  name="tournament_id" value="{{tournament.id}}">
</form>
{%else%}
<form action="/edit_schedule/{{tournament.schedules[0].id}}" method="post">
    <input type="submit" value="Editovat">
    <input type="hidden"  name="tournament_id" value="{{tournament.id}}">
</form>
{%endif%}
<form action="/delete_round_schedule/{{tournament.schedules[0].id}}" method="post">
    <input type="submit" value="Smazat rozpis">
</form>
{% endif %}


{% if current_user.id == tournament.owner.id %}
<form action="/delete_tournament/{{tournament.id}}" method="post">
    <input type="submit" value="Smazat turnaj včetně rozpisu">
</form>
{% endif %}
{% endif %}


{#---------------------------------------#}
{% if current_user.id == tournament.owner.id %}
{% if tournament.state_by_name == "open" %}
    <form action="/delete_tournament/{{tournament.id}}" method="post">
        <input type="submit" value="Smazat turnaj">
    </form>

    <form action="/generateEachVsEach/{{tournament.id}}" method="post">
        <input type="submit" value="Generovat náhodně rozpis (každý proti každému)">
    </form>

    <form action="/manual_setting_tournament_schedule/{{tournament.id}}" method="post">
        <input type="submit" value="Vygenerovat prázdnou tabulku a manuálně zadat">
        Počet kol:<input type="number" name="count_of_round" value="1">
    </form>

    <form action="/generate_by_round/{{tournament.id}}" method="post">
        <input type="submit" value="Generovat po kole">
    </form>

{% endif %}

{% endif %}

{% endblock %}