{% extends 'layout.html' %}
{% block content %}
Název turnaje: <b>{{tournament.name}}</b><br>
Vlastník: <a href="/user_profile/{{tournament.owner.id}}"> {{ tournament.owner.nick_name }} </a> <br>
Hráči:
{% for player in tournament.players %}
<a href="/user_profile/{{player.user.id}}">{{player.user.nick_name}} </a>,
{% endfor %} <br>

{% if tournament.type_by_name == "booster_draft" %}
Typ: Booster draft <br>
Boostery:
{% for set in tournament.playing_sets %}
    {{set.set_by_name}}
{% endfor%}
{% endif %}

{% if current_user.id == tournament.owner.id %}
{% if tournament.state_by_name == "with_schedule" %}
    <br> <br>
    <form action="/edit_schedule_tournament" method="post">
    Rozpis zápasů:
    <input type="hidden"  name="tournament_id" value="{{tournament.id}}">
    <table class="schedule_tournament">

        {% for round in tournament.schedules[0].rounds %}
        <tr><th>{{round.order}}. kolo</th>
         {% for match1vs1 in  round.matches1vs1 %}


            <td>
                <a href="/user_profile/{{match1vs1.result1.user.id}}">{{match1vs1.result1.user.nick_name}}</a>
                {{match1vs1.result1.wins}} :
                {{match1vs1.result2.wins}}
                <a href="/user_profile/{{match1vs1.result2.user.id}}">{{match1vs1.result2.user.nick_name}}</a>
            </td>

        {%endfor%}
        </tr>


    {%endfor%}
    </table>
    <input type="submit" value="Editovat">
</form>

<form action="/delete_round_schedule/{{tournament.id}}">
    <input type="submit" value="Smazat rozpis">
</form>

<form action="/close_tournament/{{tournament.id}}">
    <input type="submit" value="Uzavřít turnaj">
</form>

<form action="/delete_tournament/{{tournament.id}}" method="post">
        <input type="submit" value="Smazat turnaj včetně rozpisu">
</form>

{% endif %}
{% endif %}

{#---------------------------------------#}
{% if current_user.id == tournament.owner.id %}

{% if tournament.state_by_name == "open" %}
    <form action="/delete_tournament/{{tournament.id}}" method="post">
        <input type="submit" value="Smazat turnaj">
    </form>

    <form action="/generateEachVsEach/{{tournament.id}}" method="post">
        <input type="submit" value="Generovat náhodně rozpis (každý proti každému)">
    </form>

    <form action="/manual_setting_tournament_scheme/{{tournament.id}}" method="post">
        <input type="submit" value="Vygenerovat prázdnou tabulku a manuálně zadat">
    </form>

    <form>
        <input type="submit" value="Generovat po kole">
    </form>

{% endif %}

{% endif %}

{% endblock %}