{% extends 'layout.html' %}
{% block content %}

    <form action="/round_generator/{{tournament.id}}" method="post">
        <fieldset>
            <legend>Bodování</legend>
            Čistá výhra:
            <input type="number" name="pure_win" value="3" min="0">,
            Výhra:
            <input type="number" name="win" value="2" min="0">,
            Remíza:
            <input type="number" name="draw" value="1" min="0">,
            Prohra:
            <input type="number" name="lose" value="1" min="0">,
            Čistá prohra
            <input type="number" name="pure_lose" value="0" min="0">
        </fieldset>

        <fieldset>
            {% for player in tournament.players %}
            {{player.user.nick_name}}
            <input type="number" name="player_id {{player.id}}" value="{{loop.index}}" min="0" max="{{tournament.players|length +1 }}">,
            {% endfor %}
        </fieldset>

        <input type="submit" value="Pokračovat">
    </form>

{% endblock %}