{% extends 'layout.html' %}
{% block content %}

        <fieldset id="create_tournament">
           <legend>Výběr typu turnaje </legend>
            <form action = "/create_tournament" method = "post">
                <fieldset>
                    <legend>Typ</legend>
                    <input type="radio" name="type" value="booster_draft" checked> Booster draft |
                       Počet boosterů <input type="number" name="count_of_boosters" value="3"> <br>
                    <input type="radio" name="type" value="own_cards"> S vlastními balíky<br>
                    <input type="submit" value="Pokračovat">
                </fieldset>

            </form>
        </fieldset>



{% endblock %}