<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>MTG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/client_scripts.js') }}"></script>
</head>
<body>

<div class="header">
    {% include 'parts/header.html' %}
</div>

<div class="main">

    <div class="left_panel">
        {% include 'parts/left_panel.html' %}
    </div>

    <div class="content">
        {%block content%}
        {%endblock%}
    </div>

</div>

<div class="footer">
    {% include 'parts/footer.html' %}
</div>

</body>
</html>