{% extends 'layout.html' %}
{% block content %}

{% for role in current_user.list_of_roles %}
{% if role.type_of_role.name == "super_admin" or role.type_of_role.name == "admin" %}


<table> <tr> <td>Nick <td>  Admin práva </td> </tr>   </table>


{% for user in all_users %}
<form action="/edit_user_roles/{{user.id}}" method="post">
    <table>
        <tr>
            <td>{{ user.nick_name }}</td>
            <td><input type='checkbox' name="role_type_id" value="{{ role_types['admin'] }}"  {% for role in user.list_of_roles %}  {% if role.type_of_role.name == "admin" %} checked {%endif%}{%endfor%} >    </td>
            <td><input type="submit" value="Uložit"> </td>
        </tr>
    </table>
</form>
{%endfor%}



{% endif %}
{% endfor %}
{% endblock%}